{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <h2>Hello, please enter your login informations:</h2>
            <hr>
            
            <form action = "/validate_login" method="POST">

                <div class="form-group">
                    <label>Insert your info</label>
                    <div class= "custom-file">
                        <p>E-Mail <input type = "text" name = "Email" /></p>
                        <p>Password <input type = "password" name = "Password" /></p>
                    </div>
                </div>

                <button type="submit" class="btn btn-outline-success">Log In</button>                   
            
            </form> 

            <hr>

            <a>If you don't have an account, plese </a><a href="{{ url_for('sign_up') }}">Sign Up</a>

        </div>
    </div>
</div>

{% endblock %}


<!--
<form action="/data" method = "POST">
    <p>Name <input type = "text" name = "Name" /></p>
    <p>E-Mail <input type = "text" name = "E-mail" /></p>
    <p>Password <input type = "password" name = "Password" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>
-->