{% extends "layout.html" %}

{% block title %} Upload image {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <h1>Upload Image</h1>
            <hr>

            <form action = "/submit" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label>Select Image</label>
                    <div class= "custom-file">
                        <input type="file" class="custom-file-input" name="file" id="file">
                        <p>E-Mail <input type = "text" name = "Email" /></p>
                        <p>Password <input type = "password" name = "Password" /></p>
                        <label class="custom-file-label" for="file">Select image...</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Upload</button>

            </form>
        </div>
    </div>
</div>

{% endblock %}